<!-- Button trigger modal -->
<button type="button" class="btn btn-primary estatus" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="estatus()">
    Cambiar estatus
  </button>
          
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Cambiar estatus de {{info.nombre}}
            </h1>
            <br>
            <h5>
              Estatus actual: {{est}}
            </h5>
          </div>
          <div class="modal-body">
            <button class="estatus" (click)="cambiarEstatus()">
              Cambiar estatus
            </button>
          </div>
        </div>
      </div>
    </div>
    