<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="estilo">
{{modalButton}}
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
          </h1>
        </div>
        <div class="modal-body">
          <h2>
            {{modalTitulo}}
            {{data.message}}
          </h2>
          {{modalContenido}}
        </div>
      </div>
    </div>
  </div>