<section>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Edad</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let e of emp">
                <td>{{e.id}}</td>
                <td>{{e.nombre}}</td>
                <td>
                    <input type="number" name="edad" id="edad" value="{{e.edad}}" (input)="cambiarEdad($event, e.id)">
                </td>
                <td>{{e.cargo}}</td>
                <td class="botones">
                    <span>
                        <app-modal [estilo]="'editar'" [modalButton]="'Editar'" [modalTitulo]="titulo1"  [data]="child1Data"></app-modal>
                    </span>
                    <button id="eliminar" (click)="eliminar(e.id)">Eliminar</button>
                    <span>
                        <app-modal [estilo]="'status'" [modalButton]="'Cambiar estatus'" [modalTitulo]="titulo2"  [data]="child2Data"></app-modal>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>   
</section>

