<section>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Edad</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let e of emp">
                <td>{{e.id}}</td>
                <td>{{e.nombre}}</td>
                <td>
                    <input type="number" name="edad" id="edad" value="{{e.edad}}" (input)="cambiarEdad($event, e.id)">
                </td>
                <td>{{e.cargo}}</td>
                <td class="botones">
                    <app-modal-edit [info]="e"></app-modal-edit>
                    <button id="eliminar" (click)="eliminar(e.id)">Eliminar</button>
                    <app-modal-estatus [info]="e"></app-modal-estatus>
                </td>
            </tr>
        </tbody>
    </table>   
</section>
