form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    font-family: 'Poppins', sans-serif;
}
section 
{
    width: 100%;
    margin: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}
h5 
{
    margin: 0.5em;
}
div 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
h5 
{
    font-size: 0.8rem;
    color: rgb(201, 4, 4);
}
select, input
{
    width: 70%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
}
select
{
    width: 40%;
}
button 
{
    width: 200px;
    font-weight: bold;
    padding: 0.5em;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: transparent;
}
button:enabled
{
    background-color: black;
    color: white;

}
button:enabled:hover 
{
    transition: 0.5s;
    transform: scale(1.05);
}
@media(max-width:600px)
{
    section 
    {
        flex-direction: column;
        width: 90%;
    }
    div, input, select 
    {
        width: 90%;
    }
}