.edit 
{
    padding: 0.8em;
    background-color: rgb(29, 132, 29);
    border: 2px solid rgb(29, 132, 29);
    color: white;
}
.edit:hover 
{
    transition: 0.3s;
    transform: scale(1.05);
}
.form 
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.modal-body 
{
    margin: 1em;
}
input 
{
    padding: 0.5em;
}
button 
{
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
}
button:hover 
{
    transition: 0.3s;
    transform: scale(1.05);
}
select 
{
    padding: 0.5em;
}